/**
 * Main stylus file
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Dependencies
 */

// Jeet — A grid system for humans
// @import "./../../../../node_modules/jeet/styl/index";
// Rupture — Simple media queries in stylus
// @import "./../../../../node_modules/rupture/rupture/index";
 
body
    background-color: blue
    span(1/2)

@import './modules/typography';

h1 
    @extend .h1;